* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  padding: 80px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  margin-bottom: 20px;
}

.fav-heading {
  color: green;
}

.favorite-movies {
  font-family: Arial, sans-serif;
  text-align: center;
}

.movies-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 40px;
}

.movie-card {
  border: 1px solid #ddd;
  padding: 20px;
  width: 250px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.movie-card h3 {
  margin-bottom: 10px;
}

button {
  padding: 8px 10px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: #61d5fb;
  border-radius: 4px;
}

button:hover {
  background-color: blue;
}

.favorites-list {
  list-style-type: none;
  padding: 0;
}

.favorites-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border: 1px solid #ddd;
  margin: 5px 0;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.favorites-list button {
  background-color: #ff5722;
}

.favorites-list button:hover {
  background-color: #e64a19;
}